@font-face {
  font-family: "PC";
  src: url("font.woff") format("woff");
}

* {
  color: white;
  text-shadow: 3px 3px grey;
  font-family: "PC";
}

body {
  background-color: black;
}

html, body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  height: 100%;
}

table {
  border-collapse: collapse;
  margin: 40px;
}

thead {
  border-bottom: 1px dashed white;
}

th, td {
  padding-left: 1em;
  padding-right: 1em;
}

#bgcanvas {
  z-index: -1;
  position: fixed;
  visibility: hidden;
}

#contentbox {
  width: 800px;
  margin: auto;
  padding: 40px;
  background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 5%,
    rgba(0, 0, 0, 0.7) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

#inner {
  margin: 6%;
}

#logo {
  display: flex;
  justify-content: center;
  line-height: 0.9;
  margin: 40px;
  font-size: 1.3em;
}

#logolinks {
  display: flex;
  justify-content: center;
}

.logolink {
  padding: 1em;
}

#icons{
  margin-top: 40px;
}

.prod {
  margin-bottom: 4em;
}
